<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Resource/mac.png">
    <link rel="stylesheet" href="../Css/create.css">

    <title>Crear Cuenta</title>  

</head>

<body>
    <div class="register-container">
        <h2>Crear Cuenta</h2>
        <input type="number" placeholder="Cédula" id="cedula" required>
    <input type="text" placeholder="Nombre" id="nombre" required>
    <input type="text" placeholder="Apellido" id="apellido" required>
    <input type="date" placeholder="Fecha de nacimiento" id="fechaNacimiento" required>
    <input type="text" placeholder="Dirección" id="direccion" required>
    <input type="number" placeholder="Teléfono" id="telefono" required>
    <input type="email" placeholder="Correo electrónico" id="email" required>
    <input type="password" placeholder="Contraseña" id="contrasena" required>

        <button type="button" id="agregar" onclick="register()">Crear Cuenta</button>
        <a href="../index.html">Back to Login
    </div>
<script type="module" src="../Services/user_register.js"></script>                                                                                                                    "></script>
    <script>
        function register() {
            const nombreInput = document.querySelector('input[type="text"][placeholder="Nombre"]');
            const apellidoInput = document.querySelector('input[type="text"][placeholder="Apellido"]');
            const emailInput = document.querySelector('input[type="email"][placeholder="Correo electrónico"]') ;
            const contraseñaInput = document.querySelector('input[type="password"][placeholder="Contraseña"]');

            if (nombreInput.value.trim() === '' || apellidoInput.value.trim() === '' || emailInput.value.trim() === '' || contraseñaInput.value.trim() === '') {
                alert('Por favor, complete todos los campos.');
                return;
            }

        }
        
    </script>
</body>

</html>
